/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #400808;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
  padding-right: 10%;
}
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: Creed;
  color: #eaeaea;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: right;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  }
  
/* Add an active class to the active dropdown button */
.active {
  background-color: #841010;
  color: black;
  }
  
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #841010;
  padding-left: 8px;
}
  
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  color: #eaeaea;
  font-weight: bold;
  font-size: 24px;
}

@font-face {
  font-family: Creed;
  src: url(https://campagne-witcher.000webhostapp.com/font/Creed.ttf);
}